*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set your desired background color */
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.container { 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin-bottom: 15px;
}
.socialMediaInput {
    
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.socialMediaInput input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px; /* Adjust width as needed */
}
.socialMediaInput button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
.socialMediaInput button:hover {
    background-color: #555;
}
.socialMediaInput img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#instagramLinkImg::before {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
#snapchatLinkImg::before {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
#twitterLinkImg::before {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
#linkedinLinkImg::before {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
#facebookLinkImg::before {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}